.list-user-container {
  .title {
    text-transform: uppercase;
    padding: 10px;
    color: #21ec21;
  }
  .list-user-content {
    .child {
      width: 400px;
      margin: 0 auto;
      height: 40px;
      border: 1px solid grey;
    }
  }
}
